{% extends 'base.html' %}
{%block content%}
{%load static%}
{% block title%}
<head>
    <title>NitacagraSoftwares | OfferedServices</title>
  </head> 
{%endblock title%}
<body>
  <section class=" service-hero text-start ">
        <br>
        <div class="products-hero banner">
          <div
          id="carouselExampleDark"
          class="carousel carousel-dark slide"
          data-bs-ride="carousel" >
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="9000">
              <img src=" {%static '../static/NITACACRAIMAGES/pdctNsrvc3.jpg' %}" class="d-block w-100" alt="..." />
              <div class="caption text-end">
                <h1 class="display-5">Web Development </h1>
                <p class="text-end" >
                 Are you intrested im web Development,
                 We can offer help so that You Can start to Develop Your Own Website Today
                </p>
                <button type="button" class="btn btn-secondary try-it-now buy ">Contact Us</button>
              </div>
            </div>
        </div>  
      </div>
  <br>
  <br>     
  </div>
  <div class="container">
    <h3 id ="greeting" class="mb-3 text-center">List Of All Available Services</h3> <hr>
    <br>
  </div>
  <br>
  <br>
  </section>
  <section class="search-section">
    <div class="container">  
        <div class="row  g-5">
            <div class="col-4">
              <span class="specialOffer">
                <h5  class="text-end">On Promotion</h5>
              </span>
              <img src="{% static '../static/NITACACRAIMAGES/pdctNsrvc3.jpg' %}" class="img-fluid" alt="Blog Hosting">
              <div class="p-4 border shadow bg-light">
                  <div class="txt">
                    <h2>Blog Writing</h2>
                      <p>
                      You Can host your Blogs at our Blog Hosting Platform and we can maintains your post at a affordable  Price within a short space of time.
                      </p>
                      <p class="lead price"> <em> Click View to see more information</em> </p>
                      <br />
                      <div class=" buybutton ">
                        <button type="button" class="btn btn-secondary  more1 button buy">Buy</button>
                          <button type="button" class="btn btn-secondary ms-2 button more1 view">
                            View
                          </button>
                      </div>
                  </div>
               </div>
              {% comment %} <div class="col-4">
                <img src="{% static '../static/NITACACRAIMAGES/pdctNsrvc1.jpg'%}" class="img-fluid" alt="Website and Web Applcation Development">
                <div class="p-4 border shadow bg-light">
                <div class="txt">
                    <h2>Website Dev</h2>
                    <p>
                      We develop Websites that are responsive , can function smoothly on any 
                      device and can suite your personal need ,Which helps to boots your business.
                    </p>
                    <p class="lead price"> <em> Click View to see more information</em> </p>
                    <br />
                </div>
                <div class=" buybutton ">
                    <button type="button" class="btn btn-secondary  more1 button buy">Buy</button>
                    <button type="button" class="btn btn-secondary ms-2 button more1 view">
                      View
                    </button>
                    <br>
                </div>
              </div> {% endcomment %}
          
        </div> 
          <script src="{% static '../static/JS/service.js'%}"></script>        
  </section>
</body>
{%endblock content%}